<div class="intro">
    <h1>Welcome To Shimla</h1>
    <p>Is famous for its beaches and places of worship.</p>
    <button routerLink="/booking">Book Now</button>
  </div>
  <br>
  <hr/>
  <h2 style="text-align: center;">Shmla Image Gallery</h2>
  <hr/>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/manali1.jpg">
        <img src="assets/manali1.jpg" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Great-Himalayan-National-Park</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/manali2.jpg">
        <img src="assets/manali2.jpg" alt="Forest" width="600" height="500">
      </a>
      <div class="desc">Hadimba-Devi-Temple-1</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/manali3.jpg">
        <img src="assets/manali3.jpg" alt="Northern Lights" width="600" height="400">
      </a>
      <div class="desc">Hampta-Pass-HImachal</div>
    </div>
  </div>
  
  
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/manali4.jpg">
          <img src="assets/manali4.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Manikaran-Himachal</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/manali5.jpg">
          <img src="assets/manali5.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Manali-Gompa</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/manali6.jpg">
          <img src="assets/manali6.jpg" alt="Forest" width="600" height="500">
        </a>
        <div class="desc">Rohtang-Pass-Himachal</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/manali7.jpg">
          <img src="assets/manali7.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Old-Manali</div>
      </div>
    </div>
    
    
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="assets/manali8.jpg">
            <img src="assets/manali8.jpg" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Solang-Valley-Himachal</div>
        </div>
      </div>
      
      
  
    

