<div class="background-container">
  
  
    <div class="intro">
      <h1>Where Would You Like To Go ?</h1>
      <p>Than How to Waste Time Book Now.</p>
     <button> <a href="placetogo">Explore</a></button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <b><p class="work-heading" style="color: red;">ABOUT THE SITE </p></b>
        <p class="work-text">TripIt can organize your travel plans no matter where you book. 
          TripIt gives you a single view of all your trips to help keep them in order, even if you're planning one while still on another.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <b><p class="work-heading" style="color: red;">CORPORATE TRAVEL</p></b>
        <p class="work-text">Travel Policies,Booking Platforms,Expense Management,Safety and Security,
          Preferred Partnerships,Technology Integration,Traveler Support, Communication, Compliance, 
          Reporting and Analytics,Environmental Considerations.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <b><p class="work-heading" style="color: red;">MAKEMYTRIP</p></b>
        <p class="work-text">Services, Corporate Travel Services, Mobile App,
           Loyalty Programs, Reviews and Ratings, Customer Support, Deals and
            Discounts, Travel Insurance.</p>
      </div>
    </div>
    <div class="about-me">
  <div class="about-me-text">
   <b> <h2 style="color: red;">Why Book Flights with Trip Organizer?</h2></b>
    <p>Best Deals Guaranteed, User-Friendly Platform Our easy-to-use interface ensures a hassle-free booking experience,<br/>
      putting you in control of your travel plans. 24/7 Customer Support, Customized Itineraries Tailor your journey with<br/>
      personalized itineraries, ensuring every detail of your trip meets your preferences, provide Secure and Reliable:-<br>
      Rest easy knowing that your flight bookings are secure and reliable, giving you peace of mind as you embark on your next adventure.</p>
  </div>
  <div class="image-container">
    <img src="../../assets/img11.jpg" alt="me" class="active">
    <img src="../../assets/img22.jpg" alt="me">
    <img src="../../assets/img33.jpg" alt="me">
  </div>
</div>
<footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="footer-images">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://mdbootstrap.com/img/new/fluid/city/113.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://mdbootstrap.com/img/new/fluid/city/111.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://mdbootstrap.com/img/new/fluid/city/112.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://mdbootstrap.com/img/new/fluid/city/114.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://mdbootstrap.com/img/new/fluid/city/115.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://mdbootstrap.com/img/new/fluid/city/116.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Gayatri</a>
    </div>
    <!-- Copyright -->
    
  </footer>

      <!-- Your other content goes here -->
  </div>
  
