<h1 style="color:blueviolet;">Payment Component</h1>

<fieldset>
    <h2 style="color: black;">User payment</h2>
<form #myform="ngForm" >
        
        <label>Name:</label>
        <input type="text" name="name" ngModel/>
        
        <label>Email Address:</label>
        <input type="email" name="email_address" ngModel/>
        
        <label>Card No:</label>
        <input type="number" name="card_no" ngModel/>

        <label>Amount:</label>
        <input type="number" name="amount" ngModel/>
       
       
<div class="btn-div">


</div>
    </form>
    <button><a href="paymentsuccess"><button type="submit">Pay</button></a></button>
    
</fieldset>
