<div class="intro">
    <h1>Welcome To Jammu-Kashmir</h1>
    <p>its snow-covered mountains, famous mosques, and local craftwork</p>
    <button routerLink="/booking">Book Now</button>
  </div>
  <br>
  <hr/>
  <h2 style="text-align: center;">Jammu-Kashmir Image Gallery</h2>
  <hr/>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/Gulmarg.jpg">
        <img src="assets/Gulmarg.jpg" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Gulmargk</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/Gurez.jpg">
        <img src="assets/Gurez.jpg" alt="Forest" width="600" height="500">
      </a>
      <div class="desc">Gurez Valley</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/Pahalgam.jpg">
        <img src="assets/Pahalgam.jpg" alt="Northern Lights" width="600" height="400">
      </a>
      <div class="desc">Pahalgam</div>
    </div>
  </div>
  
  
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/Sonmarg.jpg">
          <img src="assets/Sonmarg.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Sonmarg</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/Srinagar.jpg">
          <img src="assets/Srinagar.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Srinagar</div>
      </div>Vaishno-Devi
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/Vaishno-Devi.jpg">
          <img src="assets/Vaishno-Devi.jpg" alt="Forest" width="600" height="500">
        </a>
        <div class="desc">Vaishno-Devi</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/Verinag.jpg">
          <img src="assets/Verinag.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Verinag</div>
      </div>
    </div>
    
    
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="assets/Yusmarg-Jammu-Kashmir.jpg">
            <img src="assets/Yusmarg-Jammu-Kashmir.jpg" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Yusmarg-Jammu-Kashmir</div>
        </div>
      </div>
      
      
  
    

